<% if ranking.empty? %>
  <div class="ranking-empty"><%= _('Not enough points for this ranking yet') %></div>
<% else %>
<ul class="ranking <%= defined?(ranking_class) ? ranking_class : '' %>">
  <% ranking.each do |person| %>
     <li class="ranking-item <%= person == target_ranking ? 'current' : '' %>">
      <span class="position">
        <%= person.gamification_position %>
      </span>
      <span class="target">
        <%= link_to :controller => 'gamification_plugin_profile', :action => :dashboard, :profile => person.identifier do %>
          <span class="image"><%= profile_image(person, :icon) %></span>
          <span class="label"><%= person.name %></span>
        <% end %>
      </span>
      <span class="score">
        <span class="gamification-icon points">&nbsp;</span>
        <%= person.gamification_points %>
      </span>
    </li>
  <% end %>
</ul>
<% end %>
