#user .gamification-plugin.user-info-template {
  margin-left: 2px;
  text-decoration: none;
  padding: 2px;
}
#user .gamification-plugin.user-info-template:hover {
  background-color: rgb(228, 228, 228);
}
.gamification-plugin.user-info-template .icon, .gamification-icon {
  background-size: 14px;
  background-repeat: no-repeat;
  width: 17px;
  display: inline-block;
  border: 0;
  height: 14px;
}
.gamification-plugin.user-info-template .icon:hover {
  background-color: transparent;
}
.gamification-plugin.user-info-template .level .icon, .gamification-icon.level {
  background-image: url(/plugins/gamification/images/level-icon.png);
}
.gamification-plugin.user-info-template .badges .icon  {
  background-image: url(/plugins/gamification/images/badge-icon.png);
}
.gamification-plugin.user-info-template .points .icon, .gamification-icon.points {
  background-image: url(/plugins/gamification/images/points-icon.png);
}

.gamification-notification .badge .image,
.gamification li.badge {
}
.gamification .badge .image {
  width: 120px;
  height: 90px;
  background-image: url(/plugins/gamification/images/badge-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-color: rgba(128, 128, 128, 0.25);
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
}

.gamification .badge {
  text-align: center;
  margin-bottom: 4px;
  min-height: 150px;
}

.gamification .badge.not-earned {
  opacity: 0.3;
}

.gamification-notification .badge {
  margin-bottom: 7px;
}

.gamification-notification .badge .description {
  font-size: 14px;
  font-weight: bold;
}

.gamification-notification .badge .level {
  font-size: 10px;
}

.gamification-notification .all-badges {
  font-size: 10px;
}

.gamification-dashboard .pie-chart {
  position: relative;
  text-align: center;
}
.gamification-dashboard .pie-chart canvas {
  position: absolute;
  left: 0;
}
.gamification-dashboard .pie-chart .level-value {
  font-size: 20px;
  font-weight: bold;
  color: rgb(64, 64, 65);
}
.gamification-dashboard .points, .gamification-dashboard .badges {
  margin: 10px 10px 25px 10px;
}
.gamification-dashboard .points .level {
  display: inline-block;
  vertical-align: top;
}
.gamification-dashboard .points .scores {
  display: inline-block;
  margin-left: 40px;
}
.gamification-dashboard .points .level .total {
  text-align: center;
  color: rgb(139, 139, 139);
}
.gamification-dashboard .scores .negative .value {
  color: red;
}
.gamification-dashboard .scores .positive .value {
  color: green;
}
.gamification-dashboard .scores .value {
  font-weight: bold;
  width: 30px;
  display: inline-block;
  text-align: right;
  margin-right: 4px;
}

.gamification-dashboard .scores .date {
  color: gray;
}

.gamification-rankings .ranking-item .target .image img {
  width: 20px;
  height: 20px;
}

.gamification-rankings ul.ranking {
  list-style-type: none;
  padding: 0;
}

.gamification-rankings .ranking-item .target .label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  display: inline-block;
  color: rgb(68, 68, 68);
}

.gamification-rankings .ranking.all-time,
.gamification-rankings .ranking.month {
  display: inline-block;
  width: 45%;
  margin: 5px 0;
}

.gamification-rankings .ranking.all-time {
  margin-left: 4%;
}

.gamification-rankings .ranking.month {
  margin-right: 4%;
}

.gamification-rankings .ranking.week .ranking-item .target .label {
  width: 300px;
}

.gamification-rankings .ranking-item .target a {
  text-decoration: none;
}

.gamification-rankings .target-position {
  text-align: right;
  color: rgb(160, 160, 160);
}

.gamification-rankings .ranking-item .score,
.gamification-rankings .ranking-item .level {
  float: right;
}

.gamification-rankings h4 {
  text-align: center;
}

.gamification-rankings .ranking-item .position {
  font-weight: bold;
  font-size: 16px;
  color: rgb(97, 97, 97);
}

.gamification-rankings .ranking {
  vertical-align: top;
  margin: 0;
}

.gamification-rankings .ranking-item.current {
  font-weight: bold;
}

.gamification-rankings .ranking.context {
  background-color: rgb(230, 230, 230);
  opacity: 0.8;
}

.gamification-rankings .ranking-empty {
  text-align: center;
  color: rgb(158, 158, 158);
  font-style: italic;
}

/* Star Rating */

.gamification-dashboard .rating {
  padding: 0px;
  line-height: 30px;
}

.gamification-dashboard .rating .star {
  display: inline-block;
  font-size: 32px;
  width: 1.1em;
  margin: 0 -7px;
  color: #E9E9E9;
  vertical-align: top;
}
.gamification-dashboard .rating .star.earned {
   color: #FFE13D;
   font-size: 42px;
   top: -7px;
   left: 0px;
   margin: 0 -12px;
}

/* *** *** ADMIN *** *** */
.gamification_plugin_activate_profile label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.gamification_plugin_activate_profile .formfield, .gamification_plugin_activate_profile .formfieldline {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gamification_plugin_admin_points .point-rules .formfieldline label {
  float: left;
  width: 180px;
}
