<h1><%= _('Gamification Settings: Listing Badges') %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gamification_plugin_badges.each do |gamification_plugin_badge| %>
  <tr>
    <td><%= gamification_plugin_badge.name %></td>
    <td><%= gamification_plugin_badge.title %></td>
    <td><%= gamification_plugin_badge.level %></td>
    <td><%= link_to 'Show', :action => :show, :id => gamification_plugin_badge.id %></td>
    <td><%= link_to 'Edit', :action => :edit, :id => gamification_plugin_badge.id %></td>
    <td><%= button_without_text :delete, _('Remove'), {:action => :destroy, :id => gamification_plugin_badge.id}, :method => :post, :confirm => _('Are you sure?') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge', :action => :new %>
<%= link_to 'Back', :controller => 'gamification_plugin_admin', :action => :index %>
