<h1><%= _('Gamification Settings: Show Badge') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gamification_plugin_badge.name %>
</p>

<p>
  <b>Title:</b>
  <%= @gamification_plugin_badge.title %>
</p>

<p>
  <b>Description:</b>
  <%= @gamification_plugin_badge.description %>
</p>

<p>
  <b>Level:</b>
  <%= @gamification_plugin_badge.level %>
</p>

<p>
  <b>Threshold:</b>
  <% @gamification_plugin_badge.custom_fields.is_a? Hash %>
  <% @gamification_plugin_badge.custom_fields.keys.each do |key| %>
    <div><%= _(key) + ': ' + @gamification_plugin_badge.custom_fields[key].fetch("threshold", "")  %></div>
  <% end %>
</p>


<%= link_to 'Edit', :action => :edit, :id => @gamification_plugin_badge.id %> |
<%= link_to 'Back', :action => :index %>
